<<<<<<< HEAD
*{
    background-color: aqua;
}

p{
    color:blue;
    font-weight: bold;
    background-color: seagreen;
}

/* h1{
    text-align: center;
} */

.centraliza{
    text-align: center;
    color: brown;
    
}

#paragrafoprincipal{
    background-color: coral;
=======
*{
    background-color: aqua;
}

p{
    color:blue;
    font-weight: bold;
    background-color: seagreen;
}

/* h1{
    text-align: center;
} */

.centraliza{
    text-align: center;
    color: brown;
    
}

#paragrafoprincipal{
    background-color: coral;
>>>>>>> be75d6e316674f723c080aac86bf6940e809c851
}