/* Estilos para o formulário */
form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* Estilos para a tabela */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  /* Estilos para os botões */
  button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 5px;
  }
  
  button.btnExcluir {
    background-color: #f44336;
  }
  
  button.btnEditar {
    background-color: #2196F3;
  }
  
  button.btnSalvar,
  button.btnCancelar {
    background-color: #FFC107;
  }
  